.estadistica--perfil{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    height: 90px;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    text-transform: uppercase;
    @include caja;
    
    h3{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        font-family: $Fuente2;
    }
    span{
        text-align: center;
        text-transform: uppercase;
        font-family: $Fuente2;
    }
}